Thumbs.db
.DS_Store
.gradle
build/
classes/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
bin/
.git/
catalina*
logs/
gradle
/gradlew
gradlew*
.metadata/
node_modules/
npm-debug.log
.editorconfig
public/
out/
.factorypath
*.cache
*.log
http-client.*.http
http-client.*.json
*.http